<div class="login-page">
  <div class="content-page" appSetheighcenter>
    <div class="content-form">
      <div class="title-page">
        <h1>Sign In</h1>
        <span>Sign in to loren ipsum dolor sit amet visciduous umaga eskeva scrobelum</span>
      </div>
      <!-- end title -->
      <div class="login-form">
        <div class="txt-user-name" [ngClass]="{'error-ver':errorUserName}">
          <input type="text" placeholder="username" [(ngModel)]="txtUserName" #inputUserName="ngModel" required>
          <span>Wrong username or password</span>
        </div>
        <div class="txt-user-name txt-pwd" [ngClass]="{'error-ver':errorPassword}">
          <input type="password" placeholder="password" [(ngModel)]="txtPassword" #inputPassword="ngModel" required>
          <a href="javascript:;" (click)="showPwd()" class="btn-show-pwd">show</a>
          <span>Wrong username or password</span>
        </div>
        <label class="container">Remember me
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <a href="javascript:;" class="btn-sign-in" (click)="loginFunc()"> sign in</a>
      </div>
      <a href="javascript:;" class="btn-forgot"> Forgot password ?</a>
      <a href="javascript:;" class="btn-forgot"> Sign Up</a>
    </div>
    <div class="btn-social-content">
      <span class="title">Sign in with Social Media</span>
      <div class="btn-social">
        <div class="child-content ver-y">
          <img src="assets/img/icon-social01.png" alt="">
          <span>Facebook</span>
          <a href="javascript:;"></a>
        </div>
        <div class="linkedin child-content ver-y">
          <img src="assets/img/icon-social03.png" alt="">
          <span>Linkedin</span>
          <a href="javascript:;"></a>
        </div>
        <div class="google child-content ver-y">
          <img src="assets/img/icon-social02.png" alt="">
          <span>google</span>
          <a href="javascript:;"></a>
        </div>
        <div class="twitter child-content ver-y">
          <img src="assets/img/icons-twitter.png" alt="">
          <span>Twitter</span>
          <a href="javascript:;"></a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- end content page -->
</div>
<!--end login page -->
