.login-page {
  width: 100%;
  height: 100vh;
  background: #5bbbeb;
  .content-page {
    width: 520px;
    position: relative;
    background: #fff;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 12px 63px 0px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -1px 12px 63px 0px rgba(0, 0, 0, 0.42);
    box-shadow: -1px 12px 63px 0px rgba(0, 0, 0, 0.42);
    .content-form {
      width: 380px;
      margin: 0 auto;
      padding-top: 50px;
      .title-page {
        h1 {
          font-size: 30px;
          font-weight: bold;
          color: #333333;
          letter-spacing: -0.02px;
          text-transform: uppercase;
        }
        span {
          font-size: 14px;
          color: #151515;
          letter-spacing: -0.01px;
          line-height: 15px;
        }
      }
      .login-form {
        margin-top: 55px;
        margin-bottom: 25px;
        .txt-user-name {
          width: 100%;
          height: 42px;
          border: 1px solid #9B9B9B;
          border-radius: 4px;
          margin-bottom: 27px;
          position: relative;
          input {
            width: 100%;
            height: 100%;
            font-size: 14px;
            color: #333333;
            letter-spacing: -0.01px;
            display: block;
            height: 100%;
            width: 100%;
            color: #333333;
            font-size: 14px;
            border: none;
            outline: none;
            background: transparent;
            margin: 0;
            padding: 0 16px;
            &::-webkit-input-placeholder {
              color: #8E8E8E;
              opacity: 1;
            }
            &::-moz-placeholder {
              color: #8E8E8E;
              opacity: 1;
            }
            &:-ms-input-placeholder {
              color: #8E8E8E;
              opacity: 1;
            }
            &:-moz-placeholder {
              color: #8E8E8E;
              opacity: 1;
            }
            &:focus::-webkit-input-placeholder {
              color: transparent;
            }
            &:focus:-moz-placeholder {
              color: transparent;
            }
            &:focus::-moz-placeholder {
              color: transparent;
            }
            &:focus:-ms-input-placeholder {
              color: transparent;
            }
          }
          span {
            display: none;
            padding-top: 5px;
          }
          &.error-ver {
            span {
              display: block;
              font-size: 13px;
              color: #EF3341;
            }
          }
          .btn-show-pwd {
            font-size: 12px;
            color: #8E8E8E;
            position: absolute;
            bottom: 12px;
            right: 8px;
            text-decoration: none;
          }
        }
        .container {
          display: inline-block;
          position: relative;
          padding-left: 27px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          font-size: 14px;
          color: #333333;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            &:checked {
              ~.checkmark {
                background-color: #2196F3;
                &:after {
                  display: block;
                }
              }
            }
          }
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 13px;
            width: 13px;
            border-radius: 4px;
            background-color: #eee;
            &:after {
              content: "";
              position: absolute;
              display: none;
              left: 4px;
              top: 1px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
          &:hover {
            input~.checkmark {
              background-color: #ccc;
            }
          }
        }
        .btn-sign-in {
          display: block;
          width: 100%;
          background: #6DC24B;
          border: 1px solid #6DC24B;
          border-radius: 4px;
          height: 42px;
          text-align: center;
          line-height: 42px;
          color: #fff;
          text-transform: uppercase;
          font-size: 14px;
        }
      }
      .btn-forgot {
        font-size: 16px;
        color: #9B9B9B;
        display: block;
        margin-bottom: 12px;
        text-align: center;
      }
    }
    .btn-social-content {
      width: 100%;
      margin-top: 50px;
      .title {
        display: block;
        font-size: 14px;
        color: #333333;
        text-align: center;
        margin-bottom: 22px;
      }
      .btn-social {
        .child-content {
          float: left;
          width: 101px;
          height: 35px;
          background: #3F51B5;
          overflow: hidden;
          border-radius: 100px;
          margin-right: 23.5px;
          position: relative;
          a {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
          span {
            font-size: 13px;
            color: #FFFFFF;
            padding-left: 5px;
          }
          img {
            padding-left: 8px;
            height: 32px;
            width: 32px;
          }
          &.linkedin {
            background: #0288D1;
            img {
              height: 33px;
              width: 33px;
            }
          }
          &.google {
            background: #F4511E;
            img {
              height: 32px;
              width: 32px;
            }
          }
          &.twitter {
            margin-right: 0;
            background: #03A9F4;
            img {
              height: 28px;
              width: 28px;
            }
          }
        }
      }
    }
  }
}
