<div class="login-page">
  <div class="content-page" appSetheighcenter>
    <div class="content-form">
      <div class="title-page">
        <h1>Sign Up</h1>
        <span>Sign Up to loren ipsum dolor sit amet visciduous umaga eskeva scrobelum</span>
      </div>
      <!-- end title -->
      <div class="login-form">
        <div class="txt-user-name">
          <input type="text" placeholder="username">
          <span>Wrong username or password</span>
        </div>
        <div class="txt-user-name">
          <input type="text" placeholder="email">
          <span>Wrong username or password</span>
        </div>
        <div class="txt-user-name txt-pwd" [ngClass]="{'error-ver':errorPassword}">
          <input type="password" placeholder="password" [(ngModel)]="txtPassword" #inputPassword="ngModel" required>
          <a href="javascript:;" (click)="showPwd()" class="btn-show-pwd">show</a>
          <span>Wrong username or password</span>
        </div>
        <a href="javascript:;" class="btn-sign-in"> sign Up</a>
      </div>
    </div>
    <div class="btn-social-content">
      <span class="title">Sign up with Social Media</span>
      <div class="btn-social">
        <div class="child-content ver-y">
          <img src="assets/img/icon-social01.png" alt="">
          <span>Facebook</span>
          <a href="javascript:;"></a>
        </div>
        <div class="linkedin child-content ver-y">
          <img src="assets/img/icon-social03.png" alt="">
          <span>Linkedin</span>
          <a href="javascript:;"></a>
        </div>
        <div class="google child-content ver-y">
          <img src="assets/img/icon-social02.png" alt="">
          <span>google</span>
          <a href="javascript:;"></a>
        </div>
        <div class="twitter child-content ver-y">
          <img src="assets/img/icons-twitter.png" alt="">
          <span>Twitter</span>
          <a href="javascript:;"></a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- end content page -->
</div>
<!--end login page -->
